<form class="search">
    {% if form.non_field_errors %}
    <div class="alerts">
        <div class="message">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
    {% endif %}

    {% if form.search.errors %}
    <div class="alerts">
        <div class="message">
            {% for error in form.search.errors %}
            {{ error }}
            {% endfor %}
        </div>
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
    {% endif %}

    <div class="input-search">
        <i class="fas fa-search"></i>
        <input name="{{ form.search.name }}" placeholder="{{ search_placeholder }}">
    </div>
    <div class="filters-search">
        <button>{{ corebusiness }}&nbsp;&nbsp;<i class="fas fa-caret-down"></i></button>
        <button>{{ legalform }}&nbsp;&nbsp;<i class="fas fa-caret-down"></i></button>
    </div>
    <div class="button-search">
        <button>{{ search }}</button>
        {% if request.user.is_superuser %}
        {% if view == 'list' %}
        <a href="/company/search/">API</a>
        {% elif view == 'search' %}
        <a href="/company/">SITE</a>
        {% endif %}
        {% endif %}
    </div>
</form>