{% extends "admin/base_site.html" %}
{% load mighty admin_urls i18n %}

{% block extrastyle %}
{{ block.super }}
<style>
.fieldset label { display: inline-block; width: 200px; text-align: right; }
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} logs{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
{% if parent_object %}
&rsaquo; <a href="{% url opts|admin_urlname:'change' parent_object.pk|admin_urlquote %}">{{ parent_object|truncatewords:"18" }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'country_choice_extend' parent_object.pk|admin_urlquote %}">{{ country|title }}</a>
{% else %}
&rsaquo; <a href="{% url opts|admin_urlname:'country_choice' %}">{{ country|title }}</a>
{% endif %}
&rsaquo; {{ title|title }}
</div>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ parent_object }}
    {% include "company/countries/add.html" %}
    <button name="action" value="create">Creer</button>
    <button name="action" value="duplicate">Duplicate</button>
</form>
{% endblock %}