<section class="company-wrap mt-px50">
    <h2>Rechercher et choisisser votre société</h2>
    {% include "company/forms/search.html" %}
</section>

<section class="company-results">
    {% if total > 15 %}
    {% include "message.html" with message=toomuch level="alert" %}
    {% endif %}

    {% if error %}
    {% include "message.html" with message=error level="alert" %}
    {% else %}
    <div class="break-search">
        <span>{{ results }}&nbsp;{{ strpages }}</span>
    </div>
    {% for company in object_list %}
    {% include "company/result.html" %}
    {% endfor %}
    {% endif %}
</section>