{% extends "mighty/includes/base.html" %}
{% load mighty static %}

{% block file_css %}<link rel="stylesheet" href="{% static "css/tenant.css" %}">{% endblock %}

{% block content %}
<section class="company-wrap mt-px50">
    {% include "company/forms/search.html" %}
</section>

<section class="company-results">
    {% if total > 15 %}
    {% include "message.html" with message=toomuch level="alert" %}
    {% endif %}
    {% if error %}
    {{ error }}
    {% else %}
    <div class="break-search">
        <span>{{ results }}&nbsp;{{ strpages }}test</span>
    </div>
    {% for company in object_list %}
    {% include "company/result.html" %}
    {% endfor %}

    {% endif %}
</section>
{% endblock %}